.colorRed{
    color: #f45;
}
.wrap{
    position: relative;
    margin: 0 auto;
    width: 1160px;
    padding: 0 20px;
}
/*head and foot*/
.head, .foot{
    position: fixed;
    left: 0;
    width: 100%;
    background: #39403E;
    line-height: 50px;
    z-index: 2;
}
.menu{
    float: left;
}
.menu li{
    float: left;
    padding-right: 20px;
}
.menu li a{
    display: block;
    padding: 0 10px;
    color: #ccc;
}
.menu li a:hover,.menu li a.click{
    color: #333;
    background: #fff;
}
/*end head and foot*/
/*head*/
.head{
    top: 0;
}
.head .logo{
    float: left;
    height: 50px;
    overflow: hidden;
    margin-right: 30px;
}
.head .logo a{
    line-height: 50px;
    font-size: 20px;
    color: #ccc;
}
.head .logo a:hover{
    text-decoration:none;
}
.head .moreLink{
    position: relative;
    float: right;
    width: 100px;
    text-align: center;
    color: #ccc;
    cursor: pointer;
}
.head .moreLink .linkList{
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    line-height: 32px;
    background: #39403E;
    padding-bottom: 10px;
    z-index: 2;
}
.head .moreLink:hover .linkList{
    display: block;
    width: 100%;
}
.head .moreLink .linkList a{
    display: block;
    color: #ccc;
    white-space: nowrap;
}
.head .moreLink .linkList a:hover{
    background: #454847;
}
/*end head*/

/*end subMenu*/
.subMenu{
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    line-height: 30px;
    padding: 5px 0;
    background: #289e85;
    z-index: 1;
}
.subMenu .subTitle{
    float: left;
    margin: 5px 0;
    color: #fff;
}
.subMenu ul {
    display: table-cell;
    width: 9999px;
    *display: inline-block;
    *width: auto;
}
.subMenu li{
    float: left;
    margin: 5px;
}
.subMenu li a{
    display: block;
    padding: 0 10px;
    color: #fff;
    /*border-radius: 2px;*/
}
.subMenu li a:hover, .subMenu li a.click{
    color: #289e85;
    background: #fff;
}
/*end subMenu*/

/*container*/
.container{
    padding: 120px 0 50px 0;
}
.container .contBox{
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
    background: #eee;
}
.container .contBox .anchor{
    position: absolute;
    top: -120px;
    left: 0;
}
.container .contBox h4{
    margin-bottom:16px;
    font-size: 16px;
    text-indent: 5px;
    border-left: 4px solid #666;
    line-height: 16px;
}
.container .contBox img{
    vertical-align: top;
}
.container-javascript {
    padding-top: 200px;
}
.container-javascript .contBox .anchor {
    top: -200px;
}
/*end container*/

/*tableNo1*/
.tableNo1{
    width: 100%;
    margin-top:20px;
    background: #fff;
}
.tableNo1 a{
    text-decoration: underline;
}
.tableNo1 th,.tableNo1 td{
    height: 20px;
    padding: 8px 10px;
    border: 1px solid #e8e8e8;
}
.tableNo1 tr td:first-child{
    text-align: right;
}
.tableNo1 tr:hover td{
    background: #fafafa;
}
/*end tableNo1*/

/*foot*/
.foot{
    bottom: 0;
}
.return-top{
    /*right: 20px;*/
    /*bottom: 0;*/
    bottom: 0;
    right: 50%;
    margin-right: -580px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background: #289e85;
    /*border-radius: 2px;*/
    z-index: 9;
}
/*end foot*/

/*media*/

@media screen and (min-width: 1617px){
    .wrap{
        width: auto;
        padding: 0;
    }
    .head, .foot{
        width: 200px;
        line-height: 40px;
    }
    .head{
        top: 0;
        height: 100%;
    }
    .foot{
        bottom: 50px;
    }
    .head .logo, .menu, .menu li{
        float: inherit;
    }
    .head .logo a{
        padding-left: 10px;
    }
    .menu li{
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 1px;
    }
    .head .moreLink{
        display: none;
    }
    .subMenu{
        left: inherit;
        right: 0;
        top: 0;
        width: 200px;
        height: 100%;
        line-height: 40px;
        padding: 0;
    }
    .subMenu .subTitle, .subMenu li{
        float: inherit;
    }
    .subMenu .subTitle{
        padding-left: 10px;
    }
    .subMenu li{
        margin: 0 10px 1px 10px;
    }
    .container{
        padding: 0 200px;
        margin: 20px;
    }
    .container .contBox .anchor{
        top: -20px;
    }
    .return-top{
        right: 10px;
        width: 180px;
        bottom: 10px;
        margin-right: 0;
        background: #39403E;
    }
}
end media